<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
 
</div>


<button (click)="loadUser()">Load profile</button>
    {{ profile | json }}

    <div *ngFor="let d of profile">
        Key: <input type="text" value="{{d.key}}"><br>
        value: <input type="text" value="{{d.value}}"><br>

    </div>

    <button (click) ="addKeyValue($event)">Add</button>


    <!-- <p *ngIf="postResponse !== undefined">Inserted record id: {{postResponse}}</p> -->
    <form (ngSubmit)="submit(employee)" >
  name:<br>
  <input type="text" [value]="name" name="name"><br>
   job:<br>
  <input type="text" [(ngModel)]="employee.body" name="body" ><br>
  <button type="submit">Submit</button>
</form> 

